<section class="section container block has-background-grey-dark">
    <div class="columns has-background-grey-darker">
        <h1 class="title column has-text-left">Section</h1>
        <h2 class="subtitle column has-text-right has-text-weight-bold has-text is-size-7">Posted by XXXXX on XX/XX/XXXX</h2>
    </div>
        <h3 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like
            the one you're currently reading.
        </h3>
</section>