<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tech blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <header class="navbar" role="navigation" aria-label="main navigation">
            <div class="hero-body">
                <nav class="columns level">
                    <!-- home dashboard and logout button -->
                    <div class="navbar-item is-active column is-justify-content-center">
                        <div class="field has-addons is-marginless">
                            <a class="control" role="navigation"  href="login.html">
                                <button class="button is-rounded has-background-grey-dark has-text-danger has-text-weight-bold"><span>Home</span></button>        
                            </a>
                            <p class="control" role="navigation"  href="login.html">
                                <button class="button is-rounded has-background-grey-dark has-text-danger has-text-weight-bold"><span>Dashboard</span></button>        
                            </p>
                            <p class="control" role="navigation"  href="login.html">
                                <button class="button is-rounded has-background-grey-dark has-text-danger has-text-weight-bold">Logout</button>
                            </p>
                        </div>
                            <!-- Header/Title -->
                        <div class="column is-4">
                            <h1 class="title is-size-1 has-text-light has-text-weight-bold">The Tech Blog</h1>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </section>
</body>
</html>