<div class="container">
    
    <div class="posts">
            {{#each posts}}
                <div class="post">
                    {{> comment}}
                </div>
            {{/each}}
    </div>
</div>
