<section class="section container">
    <div class="field">
        <input class="input" type="email" placeholder="Email" />
    </div>
    
    <div class="field">
        <input class="input" type="password" placeholder="Password" />
    </div>
    <div class="">
        <button class="button has-background-grey-dark has-text-danger has-text-weight-bold">Login</button>
    </div>
</section>